/config.local.php
/app/tmp/*
/app/webroot/files/*
!/app/webroot/files/ModeloAtualizacaoGrupos.csv
!/app/webroot/files/ModeloImportacaoMovimentacao.csv
/vendor/
/composer.phar
.idea
/database
_sftp-config.json
*.DS_Store
*.local
/app/Config/email.php
/composer.lock