<?php

/*
   Este é um arquivo de configuração local e inclui informações como banco de dados e tipo de deploy
*/
Configure::write('Cache.disable', true);
Configure::write('App.type', 'dev'); // dev, live ou production
Configure::write('debug', 2);

Configure::write('Meproteja.url', 'https://services.serasaexperian.com.br/MeAviseProxy');
Configure::write('Meproteja.username', '76074527');
Configure::write('Meproteja.password', '760#Me27');

Configure::write('Extranet.path', realpath(APP.'../').'/');
Configure::write('Areadoassociado.link', 'http://localhost:8010/');

Configure::write('SecretKey', '');

Configure::write('sendgridKey', '');

Configure::write('Itau.ClientId', '');
Configure::write('Itau.ClientSecret', '');
Configure::write('Itau.BaseUrl', 'https://api.itau.com.br/cash_management/v2');
Configure::write('Itau.BaseUrlBusca', 'https://secure.api.cloud.itau.com.br/boletoscash/v2');

Configure::write('Btg.BaseUrl', 'https://id.sandbox.btgpactual.com');
Configure::write('Btg.BaseUrlApi', 'https://api.sandbox.empresas.btgpactual.com');
Configure::write('Btg.Code', '');
Configure::write('Btg.ClientId', '');
Configure::write('Btg.ClientSecret', '');
Configure::write('Btg.AccessToken', '');
Configure::write('Btg.RefreshToken', '');
Configure::write('Btg.AccountId', '');

define('ROOT_SITE', Configure::read('Extranet.path'));

class DATABASE_CONFIG {
    
    public $default = array(
        'datasource' => 'Database/Mysql',
        'persistent' => false,
        'host' => 'database',
        'login' => 'root',
        'password' => 'inter123',
        'database' => 'berh',
        'prefix' => '',
        'encoding' => 'utf8',
    );
}