<?php

/*
   Este é um arquivo de configuração local e inclui informações como banco de dados e tipo de deploy
*/
Configure::write('Cache.disable', true);
Configure::write('App.type', 'dev'); // dev, live ou production
Configure::write('debug', 2);

Configure::write('Meproteja.url', 'https://services.serasaexperian.com.br/MeAviseProxy');
Configure::write('Meproteja.username', '76074527');
Configure::write('Meproteja.password', '760#Me27');

Configure::write('Areadoassociado.link', 'http://localhost:8283/');

//prod
Configure::write('Prorede.BaseUrl', 'https://api.serasaexperian.com.br');
Configure::write('Prorede.ClientId', '6178543627f4e342c1876676');
Configure::write('Prorede.ClientSecret', '5766781c243e4f7263458716');

define('ENOTAS_PRODUTO_ID', '2afda0bc-878e-4973-a901-cdd052da0800');

Configure::write('ENOTAS_API_KEY', 'M2Q1MWM1MDctYTBmZC00OTg3LWE4NzQtOTBhNzZlOGJjM2Uw');

Configure::write('MeProtejaClientId', '6284f361eb2a1a4e9859f415');
Configure::write('MeProtejaLogon', '25094779');
Configure::write('MeProtejaSenha', 'TXMR4MHX');
Configure::write('MeProtejaSenhaWebhook', 'R5qLylHRLnpUsGaCqhibXg1HnsuTZfunwbeJaAw4BfD');
Configure::write('MeProtejaURL', 'https://uat-api.serasaexperian.com.br');

Configure::write('SecretKey', '9d205b1525d27b9030e6b94066acf2a2ac9b6c342fa9be65585345367e4fe5f054990c32561830577f716f306d5586696a165828cce5077514c6327ebec9d760');

class DATABASE_CONFIG {
    
    public $default = array(
        'datasource' => 'Database/Mysql',
        'persistent' => false,
        'host' => 'localhost',
        'login' => 'berh_usr',
        'password' => 'berh123',
        'database' => 'berh',
        'prefix' => '',
        'encoding' => 'utf8',
    );
}