.redirect-widget {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    /* Ajustar a imagem para caber perfeitamente no círculo */
    background-image: url("berh-bella.png");
    background-size: 65px; /* Faz a imagem caber no container */
    background-repeat: no-repeat; /* Evitar repetição da imagem */
    background-position: top right; /* Centraliza a imagem */
    transition: 0.3s ease;
}


.redirect-widget:hover {
    transform: scale(1.1);
}

.redirect-widget::after {
    content: 'Posso te ajudar?';
    display: none;
    position: absolute;
    left: -5px;
    top: 10px;
    transform: translateX(-100%);
    white-space: nowrap;
    width: fit-content;
    height: 35px;
    color: #6a1b9a;
    border: 2px #6a1b9a solid;
    background: white;
    border-radius: 20px;
    padding: 7px 15px;
}

.redirect-widget:hover::after {
    display: block;
}

.iframe-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    z-index: 1001;
}
