# name: Push to Homolog

# on:
#   push:
#     branches: [ "homolog" ]
#   pull_request:
#     branches: [ "homolog" ]

#   # Allows you to run this workflow manually from the Actions tab
#   workflow_dispatch:

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v3
 
#       - name: Install SSH Key
#         uses: shimataro/ssh-key-action@v2
#         with:
#           key: ${{ secrets.SSH_PRIVATE_KEY_HOMOLOG }}
#           known_hosts: unnecessary

#       - name: Adding Known Hosts
#         run: ssh-keyscan ${{ secrets.SSH_HOST_HOMOLOG }}  >> ~/.ssh/known_hosts

#       - name: Deploy with rsync
#         run: rsync -avuz -P --exclude=".*" . ${{ secrets.SSH_USER_HOMOLOG }}@${{ secrets.SSH_HOST_HOMOLOG }}:/var/www/vhosts/homologacao.credcheck.com.br/httpdocs/extranet/

#       - name: Install composer and run migration
#         uses: appleboy/ssh-action@master
#         with:
#           host: ${{ secrets.SSH_HOST_HOMOLOG }}
#           username: ${{ secrets.SSH_USER_HOMOLOG }}
#           key: ${{ secrets.SSH_PRIVATE_KEY_HOMOLOG }}
#           script: |
#             cd /var/www/vhosts/homologacao.credcheck.com.br/httpdocs/extranet/
#             php composer.phar install
#             vendor/bin/phinx migrate -e homolog
